<div class="row justify-content-center">
    <div class="col-12 col-md-6">
        <h1>Formulario de Empleado</h1>
        <form action="" class="border border-dark p-3" #empleadoForm="ngForm">
            <div class="form-group">
                <label for="apellido" class="mt-3">Apellido:</label>
                <input type="text" class="form-control"><!-- [(ngModel)]="empleado.titulo" name="titulo" id="titulo" #titulo="ngModel" required -->
                <!-- <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
                    <div *ngIf="titulo.errors?.['required']">Campo Obligatorio!</div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="nombre" class="mt-3">Nombre</label>
                <input type="text" class="form-control"> <!-- [(ngModel)]="empleado.nombre" name="nombre" id="nombre" #nombre="ngModel" required -->
                <!-- <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
                    <div *ngIf="nombre.errors?.['required']">Campo Obligatorio!</div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="email" class="mt-3">Email</label>
                <input type="text" class="form-control" ><!-- [(ngModel)]="empleado.email" name="email" id="email" #email="ngModel" -->
                <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors?.['required']">Campo Obligatorio!</div>
                </div> -->
            </div>
            <div class="form-group">
                <label for="dependencia" class="mt-3">Dependencia</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"><!-- [(ngModel)]="empleado.dependencia" required -->
                    <label class="form-check-label" for="flexCheckDefault">
                      Default checkbox
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-3" (click)="altaEmpleado()" [disabled]="empleadoForm.invalid">Guardar</button>
        </form>
        <div *ngIf="save" class="alert alert-success">Empleado guardado correctamente!!</div>
    </div>
</div>