<div class="row mt-3 footer">
    <footer class="bg-dark text-white pt-4 pb-4">
        <div class="text-center">
            <p>Pagina desarrolada por Grupo 08- EMPRESAURIOS - Copyright 2022</p>
            <div>
                <a href="#" class="m-1 ">
                    <img src="assets/facebook.png" alt="Facebook" class="logo">
                </a>
                <a href="#" class="m-1 ">
                    <img src="assets/instagram.png" alt="Instagram" class="logo">
                </a>
                <a href="#" class="m-1 ">
                    <img src="assets/twitter.png" alt="Twitter" class="logo">
                </a>
                <a href="#" class="m-1 ">
                    <img src="assets/linkedin.png" alt="LinkedIn" class="logo">
                </a>
            </div>
        </div>
    </footer>
</div>