<header class="p-3 bg-dark text-white mb-3 row">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="home" class="nav-link px-2 text-white">Inicio</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion de Empleados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="formEmpleado">Alta Empleado</a></li>
              <li><a class="dropdown-item " href="tablaEmpleado">Tabla de Empleados</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestion de Reuniones
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="formReunion">Alta Reunion</a></li>
              <li><a class="dropdown-item " href="tablaEmpleado">Tabla de Reuniones</a></li>
            </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link " [routerLink]="['login']" routerLinkActive="ruta-activa">Logearse</a>
          </li>
        </ul>
        <div *ngIf="loginService.userLoggedIn()">  
          <a *ngIf="!loginService.userLoggedIn()" [routerLink]="['login']">(Login)</a>
          <a *ngIf="loginService.userLoggedIn()" [routerLink]="['login']" (click)="logout()">
            {{loginService.userLogged()}} (logout)
          </a>
        </div>
      </div>
    </div>
</header>
