<header class="p-3 bg-dark text-white mb-3 row">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" href="#">
          <img src="./assets/dn.ico" alt="" width="30" height="35">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="home" class="nav-link px-2 text-white">Inicio</a></li>
          <div *ngIf="loginService.userLoggedIn()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gestion de Empleados
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="formEmpleado">Alta Empleado</a></li>
                <li><a class="dropdown-item " href="#">Tabla de Empleados</a></li>
              </ul>
            </li>
          </div>
          <div *ngIf="loginService.userLoggedIn()">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Gestion de Reuniones
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="formReunion">Alta Reunion</a></li>
                <li><a class="dropdown-item " href="#">Tabla de Reuniones</a></li>
              </ul>
            </li>
          </div>  
        </ul>
        <div *ngIf="!loginService.userLoggedIn()">
          <button class="p-1 me-2  btn btn-outline-light" [routerLink]="['login']" routerLinkActive="ruta-activa">Iniciar Sesion</button>
          <button class="p-1 btn btn-warning" (click)="usuarioForm()">Registrarse</button>
        </div>

        <div class="dropdown text-end" *ngIf="loginService.userLoggedIn()">
          <a href="#" class="d-block link-dark text-decoration-none text-white dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
           
            <li><a class="dropdown-item disabled" disabled >Usuario : {{loginService.userLogged()}} </a></li>
            <li><a class="dropdown-item disabled" disabled >{{loginService.userPerfil()}}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"  [routerLink]="['login']" (click)="logout()">Cerrar Sesion</a></li>
          </ul>
        </div>
      </div>
    </div>
</header>
