<div class="container">
    <div class="row">
      <div id="htmlData" >
        <h2>Resumen Reunion</h2>
        
        <table class="table table caption-top table-bordered  table-responsive mt-4">
          <thead class="table-danger">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora Inicio</th>
              <th scope="col">Hora Fin</th>
              <th scope="col">Oficina</th>
              <th scope="col">TipoReunion</th>
              <th scope="col">EstadoReunion</th>
              <th scope="col">Recursos</th>
              <th scope="col">Participantes</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{reunion.fecha }}</td>
              <td>{{reunion.horaInicio}}</td>
              <td>{{reunion.horaFin}}</td>
              <td>{{reunion.oficina.numero}}</td>
              <td>{{reunion.tipoReunion}}</td>
              <td>{{reunion.estadoReunion}}</td>
              <td><li style="list-style:none" *ngFor="let recu of reunion.recursos">{{recu.recurso}}</li></td>
              <td><li style="list-style:none" *ngFor="let emp of reunion.participantes">{{emp.Nombre}}</li></td> 
      
            </tr> 
          </tbody>
          </table>
      </div>
    </div>
  </div>
  
  
  <div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
  </div>