<div class="container">
    <div class="row">
      <div *ngIf="loginService.userLoggedIn()==false"> 
        <h1> Reunion Validada con Exito</h1>
       
      </div>
      <div id="htmlData" >

        <h2>Resumen Reunion</h2>
        
        <br>
        <h6>Participantes:  
          <li *ngFor="let emp of reunion.participantes">{{emp.Nombre}} {{emp.Apellido}} - Legajo: {{emp.Legajo}}
          </li>
        </h6>
        <h6>Recursos: 
        <li *ngFor="let recu of reunion.recursos">Recurso:{{recu.recurso}} - TipoRecurso: {{recu.tipoRecurso}}
        </li> 
        </h6>
        <table class="table table caption-top table-bordered  table-responsive mt-4">
          <thead class="table-danger">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Hora Inicio</th>
              <th scope="col">Hora Fin</th>
              <th scope="col">Oficina</th>
              <th scope="col">TipoReunion</th>
              <th scope="col">EstadoReunion</th>
            
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{reunion.fecha }}</td>
              <td>{{reunion.horaInicio}}</td>
              <td>{{reunion.horaFin}}</td>
              <td>{{reunion.oficina.numero}}</td>
              <td>{{reunion.tipoReunion}}</td>
              <td>{{reunion.estadoReunion}}</td>
             
            </tr> 
          </tbody>
          </table>
        
          <ngx-qrcode 
            [elementType]="elementType" 
            [value]="value"
            cssClass="aclass">
          </ngx-qrcode>
      
      </div>
    </div>
  </div>
  
  
  <div *ngIf="loginService.userLoggedIn()==true">
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
  </div>