
<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">

<div class="d-flex h-100 text-center text-white ">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-dark">
    
        <h1>Bienvenidos</h1>
        <p class="lead ">Para conocer mas de nuestras empresa pueder darle al boton leer mas.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-dark text-light">Leer Mas</a>
        </p>
    
    </div>
    
    
        
</div>